.dimensions-form {
  text-align: left;
  max-width: 500px;
  margin: auto;
}

input {
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  border-bottom: 2px solid black;
  padding: -2px -2px -2px -2px;
  outline: none;
  box-shadow: 5px pink;
}
