li {
  list-style-type: none;
  padding: 5px;
  margin: auto;
}

button {
  border-color: lightblue;
  border-style: solid;
  border-width: 1.25px;
  border-radius: 5px;
  min-height: 30px;
}

select {
  border-color: violet;
  min-height: 30px;
  min-width: 200px;
  border: none;
  text-align: center;
}
option {
  background-color: violet;
  padding-top: 5px;
  min-height: 30px;
  min-width: 200px;
}

input {
  min-height: 30px;
  min-width: 200px;
}

.addMaterialsForm {
  max-width: 400px;
  background-color: rgb(216, 216, 216);
  border-radius: 8px;
  margin: auto
}